.svg-container {
    position: relative;
    width: 33px; /* gleiche Breite wie das untere SVG */
    height: 44px; /* gleiche Höhe wie das untere SVG */
  }
  
  .overlay-svg {
    position: absolute;
    width: 12.5px;
    top: calc(50% - 5px);
    left: 50%;
    transform: translate(-50%, -50%);
  }