.calendar-icon {
    position: relative;
    top: -35px;
    left: 10px;
    width: 13px;
}

.user-icon {
    position: relative;
    top: -36px;
    left: 10px;
    width: 13px;
}

.circle-icon {
    position: relative;
    top: -33px;
    left: 10px;
    width: 13px;
}

.fire-icon {
    position: relative;
    top: -36px;
    left: 10px;
    width: 13px;
}

.tree-icon {
    position: relative;
    top: -38px;
    left: 4px;
    width: 24px;
}

.music-icon {
    position: relative;
    top: -35px;
    left: 4px;
    width: 24px;
}

.quest-icon {
    position: relative;
    top: -34px;
    left: 4px;
    width: 24px;
}

.drum-icon {
    position: relative;
    top: -38px;
    left: 4px;
    width: 24px;
}

.compass-icon {
    position: relative;
    top: -36.5px;
    left: 4px;
    width: 24px;
}

.group-icon {
    position: relative;
    top: -37px;
    left: 4px;
    width: 24px;
}

.liebevoll-jetzt-icon{
    position: relative;
    top: -35px;
    left: 4px;
    width: 24px;
}

.staff-snake-icon {
    position: relative;
    top: -35px;
    left: 4px;
    width: 24px;
}

.flower-icon {
    position: relative;
    top: -35px;
    left: 4px;
    width: 24px;
}

.network-icon {
    position: relative;
    top: -35px;
    left: 4px;
    width: 24px;
}

.shop-icon {
    position: relative;
    top: -34px;
    left: 4px;
    width: 24px;
}

.plant-icon {
    position: relative;
    top: -34px;
    left: 4px;
    width: 24px;
}

.circle-dot-icon {
    position: relative;
    top: -36px;
    left: 4px;
    width: 24px;
}

.steps-icon {
    position: relative;
    top: -34px;
    left: 4px;
    width: 24px;
}

.suitcase-icon {
    position: relative;
    top: -34px;
    left: 4px;
    width: 24px;
}

.offer-icon {
    position: relative;
    top: -34.5px;
    left: 4px;
    width: 24px;
}