.tiptap-toolbar {
  button {
    border: 2px solid black;
    padding: 6px;
    width: 80x;
    border-radius: 8px;
    background-color: #C1BCAC;
  }
}

.tiptap h1,
.tiptap h2,
.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6,
.tiptap ul,
.tiptap ol,
.tiptap pre,
.tiptap hr,
.tiptap blockquote,
.tiptap code {
    all: revert;
}