:root {
    --toastify-color-info: var(--color-info);
    --toastify-color-success: var(--color-success);
    --toastify-color-warning: var(--color-warning);
    --toastify-color-error: var(--color-error);
}

.Toastify__toast {
    border-radius: var(--radius-box);
    --shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --shadow-colored: 0 20px 25px -5px var(--shadow-color), 0 8px 10px -6px var(--shadow-color);
    box-shadow: var(--ring-offset-shadow, 0 0 #0000), var(--ring-shadow, 0 0 #0000), var(--shadow);
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    background-color: var(--color-base-100);
    color: var(--color-base-content);
}

.Toastify__toast-container {
    z-index: 2001 !important;
}

.Toastify__toast-container--top-right {
    top: 4.75em !important;
}