:root {
    --toastify-color-info: theme('colors.info');
    --toastify-color-success: theme('colors.success');
    --toastify-color-warning: theme('colors.warning');
    --toastify-color-error: theme('colors.error');
}

.Toastify__toast {
    border-radius: 1rem;
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    background-color: theme('colors.base-100');
    color: theme('colors.base-content');
}

.Toastify__toast-container {
    z-index: 2001 !important;
}

.Toastify__toast-container--top-right {
    top: 4.75em !important;
}