.App {
  width: 100vw;
  height: 100dvh;
}

#app-content {
  height: 100%;
}

.fadeable-div {
  transition: opacity 1000ms ease;
  opacity: 1;
}

.div-hidden {
  opacity: 0;
}

.movable-div {
  transition: transform 600ms ease;
  transform: translateX(0);
}

.move-out-right {
  transform: translateX(100vw);
  /* Verschiebt das Div um die Breite des Viewports */
}


.move-out-left {
  transform: translateX(-100vw);
  /* Verschiebt das Div um die Breite des Viewports */
}