@tailwind base;
@tailwind components;
@tailwind utilities;

.tw-modal {
  z-index: 1200 !important;
}

.tw-menu li a {
  border-radius: 10px;
}

.tw-modal {
  z-index: 1200 !important;
}

.tw-modal-box {
  max-height: calc(100vh - 2em);
}