@tailwind base;
@tailwind components;
@tailwind utilities;

.fade {
  mask-image: linear-gradient(180deg,transparent, #000 3%, #000 97%, transparent);
}

.tw-modal {
  z-index: 1200 !important;
}

.tw-menu li a {
  border-radius: 10px;
}

.tw-modal {
  z-index: 1200 !important;
  max-height: 100dvh;
}

.tw-modal-box {
  max-height: calc(100dvh - 2em);
}

.Toastify__toast {
  border-radius: 1rem;
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  background-color: theme('colors.base-100');
  color: theme('colors.base-content');
}

:root {

  --toastify-color-info: theme('colors.info');
  --toastify-color-success: theme('colors.success');
  --toastify-color-warning: theme('colors.warning');
  --toastify-color-error: theme('colors.error');

}

.custom-file-upload{
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

.custom-file-upload:hover .button{
  opacity: 0.8;
}

.custom-file-upload .button{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  transform: translate(8px, 8px);

}

.tw-tab-content .container {
  height: 100%;
}

.w-md-editor-text {
  height: 100%;
}

.w-md-editor-text-input {
  min-height: 100%;
}